<div class="container container-padding">
	<div class="row">
		<div class="span12">
		<h2>Welcome to Pack The Venue!</h2>
		</div>
		</div>
	<div class="well">
	<div class="row-fluid">
		<div class="span12 centered">
			<h3>Get Started Now</h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 centered">
				<%= link_to "1. Create An Event", new_activity_path, :class => "btn btn-medium btn-primary" %>
				</div>
				<div class="span4 centered">
    		<button class="btn btn-medium btn-primary" type="button">2. Setup Payment Information</button>
				</div>
				<div class="span4 centered">
					<%= link_to "3. Promote Events", profile_path, :class => "btn btn-medium btn-primary" %>
				</div>
		</div>
		</div>
</div>


