<div class="container container-padding">
		<h4>How It Works</h4>
		<div class="row">
			<div class="span7">
				Ac, a scelerisque ac. Porttitor amet ac, lundium, tristique integer porttitor pid vel! Ut. Hac, quis? Tristique augue vel, sit! Sit augue. Est in dolor rhoncus in aliquet augue, auctor etiam nec integer ac nunc tempor. Habitasse odio. A risus odio integer aliquam amet, parturient porttitor turpis eros! Urna aenean nisi, rhoncus, nisi duis tristique rhoncus! Integer porttitor elementum sagittis, integer lundium diam, integer ultricies dis? Ultricies nec? Placerat parturient rhoncus pid? Magna sit tempor nunc lundium montes cras. Nisi odio pid? Cursus risus, tincidunt phasellus, sit augue phasellus aliquet hac sociis nec aenean odio eu parturient et! Nec dapibus.

Nunc tincidunt augue habitasse! Dignissim odio, sed, facilisis et sociis! Amet sagittis in, lacus ridiculus, magnis pellentesque lorem hac, elit, in turpis porta tortor mattis? Porttitor ut elit, lacus pid montes eros, porttitor mattis duis parturient, mattis nunc penatibus natoque pid cum integer diam rhoncus adipiscing tempor hac nascetur, elementum duis lacus, cras. Ridiculus tristique! Magnis scelerisque ultrices et porta, turpis parturient phasellus placerat placerat mid, augue, placerat, platea scelerisque mus urna montes pulvinar hac, nunc facilisis in urna aliquet egestas! Ridiculus, auctor? Dis porta. Scelerisque et proin lacus dolor adipiscing, est dolor rhoncus, nisi platea odio velit amet.
			</div>
			<div class="span5">
		<iframe class="pull-right" width="420" height="315" src="https://www.youtube.com/embed/XQu8TTBmGhA?rel=0" 
		frameborder="0" allowfullscreen></iframe>
		</div>
		</div>
	</div>
