<div class="container container-padding">

<% activity = Activity.find(session["activity_id"]) %>

<%= activity.name %>
 
 <%= session["ticket_quantity"] %>
 
 <%= form_for @payment do |f| %>
 
 	<%= f.submit 'Place Order', :class => 'btn btn-primary pull-right' %>
 
 <% end %>

</div>